---
import { Icon } from '~/ui/components/Icon';
---

<div class="font-sansation flex flex-col gap-2 text-lg font-light text-gray-900 md:text-xl">
  <p>TVORNICA DRVENIH KONSTRUKCIJA j.d.o.o.</p>
  <p>OIB: 58684061044</p>
  <p>adresa: Srebrnjak 29, 10000 Zagreb</p>
  <p>Zagrebačka banka - IBAN: HR9423600001103021956</p>
  <div class="flex gap-2">
    <a href="https://www.facebook.com/share/1GU5ZkpnqQ/" target="_blank" class="-ml-1">
      <Icon icon={'facebook'} className="size-8" />
    </a>
    <a href="https://www.instagram.com/tvornica_drvenih_konstrukcija/" target="_blank">
      <Icon icon={'instagram'} className="size-8" />
    </a>
  </div>
</div>
