---
import { Image } from 'astro:assets';
import ContactImg from './assets/workshop.jpg';
import ContactForm from './ContactForm';
import ContactLinks from './ContactLinks';
import ContactDetails from './ContactDetails.astro';
---

<section id="contact" class="lex flex-col gap-8 bg-[#F2EEE8] pb-16">
  <ContactLinks />
  <section class="max-w-wrapper flex w-full justify-center bg-[#CFCBBF]">
    <div class="flex w-3/5 flex-1 flex-col gap-4 p-6 md:gap-6 md:p-10">
      <h3 class="font-sansation text-xl font-light text-gray-900 lg:text-2xl">Pošalji poruku</h3>
      <ContactForm client:load />
      <ContactDetails />
    </div>
    <Image
      src={ContactImg}
      quality="low"
      widths={[600, 1200]}
      sizes="(min-width: 1500px) 600w, 40vw"
      alt="Krupni kadar radionice sa stolarskim alatima"
      class="hidden w-2/5 max-w-[600px] object-cover md:block"
    />
  </section>
</section>
