---
import { Image } from 'astro:assets';
import ContactImg from '~/ui/assets/images/contact.png';
import ContactForm from './ContactForm';
import ContactLinks from './ContactLinks';
---

<section id="contact" class="pb-16 lex flex-col gap-8 bg-[#F2EEE8]">
  <ContactLinks />
  <section class="w-full max-w-[1300px] mx-auto flex justify-center bg-[#CFCBBF]">
    <div class="w-3/5 max-w-5xl flex flex-col gap-4 md:gap-6 p-6 md:p-10 flex-1">
      <h3 class="font-sansation font-light text-lg md:text-xl lg:text-2xl text-gray-900">Pošalji poruku</h3>
      <ContactForm client:idle />
    </div>
    <Image src={ContactImg} alt={'Radionica s alatima'} class="hidden md:block w-2/5 max-w-[600px] object-cover" />
  </section>
</section>
