---
import { ContactForm } from './ContactForm';
---

<div class="py-8 px-4 md:py-16">
  <div class="max-w-xl mx-auto flex flex-col gap-5 md:gap-6">
    <h2 id="contact" class="font-display font-semibold text-2xl md:text-3xl">Kontaktirajte nas</h2>
    <ContactForm client:idle />
  </div>
</div>
