@font-face {
  font-family: 'Montserrat Bold';
  src: url('/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Semibold';
  src: url('/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Medium';
  src: url('/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --xxxl-font-size: 4rem;
  --xxxl-line-height: 1.25;
  --xxl-font-size: 3rem;
  --xxl-line-height: 1.25;
  --xl-font-size: 2rem;
  --xl-line-height: 1.25;
  --l-font-size: 1.5rem;
  --l-line-height: 1.25;
  --m-font-size: 1.25rem;
  --m-line-height: 1.25;
  --r-font-size: 1rem;
  --r-line-height: 1.5;
}

/* 
  XXX Large
*/
.text-xxxl-bold {
  font-family: 'Montserrat Bold';
  font-size: var(--xxxl-font-size);
  line-height: var(--xxxl-line-height);
}

.text-xxxl-semibold {
  font-family: 'Montserrat Semibold';
  font-size: var(--xxxl-font-size);
  line-height: var(--xxxl-line-height);
}

.text-xxxl-medium {
  font-family: 'Montserrat Medium';
  font-size: var(--xxxl-font-size);
  line-height: var(--xxxl-line-height);
}

.text-xxxl-regular {
  font-family: 'Montserrat Regular';
  font-size: var(--xxxl-font-size);
  line-height: var(--xxxl-line-height);
}

/* 
  XX Large
*/
.text-xxl-bold {
  font-family: 'Montserrat Bold';
  font-size: var(--xxl-font-size);
  line-height: var(--xxl-line-height);
}

.text-xxl-semibold {
  font-family: 'Montserrat Semibold';
  font-size: var(--xxl-font-size);
  line-height: var(--xxl-line-height);
}

.text-xxl-medium {
  font-family: 'Montserrat Medium';
  font-size: var(--xxl-font-size);
  line-height: var(--xxl-line-height);
}

.text-xxl-regular {
  font-family: 'Montserrat Regular';
  font-size: var(--xxl-font-size);
  line-height: var(--xxl-line-height);
}

/* 
  Extra Large
*/
.text-xl-bold {
  font-family: 'Montserrat Bold';
  font-size: var(--xl-font-size);
  line-height: var(--xl-line-height);
}

.text-xl-semibold {
  font-family: 'Montserrat Semibold';
  font-size: var(--xl-font-size);
  line-height: var(--xl-line-height);
}

.text-xl-medium {
  font-family: 'Montserrat Medium';
  font-size: var(--xl-font-size);
  line-height: var(--xl-line-height);
}

.text-xl-regular {
  font-family: 'Montserrat Regular';
  font-size: var(--xl-font-size);
  line-height: var(--xl-line-height);
}

/* 
  Large
*/
.text-l-bold {
  font-family: 'Montserrat Bold';
  font-size: var(--l-font-size);
  line-height: var(--l-line-height);
}

.text-l-semibold {
  font-family: 'Montserrat Semibold';
  font-size: var(--l-font-size);
  line-height: var(--l-line-height);
}

.text-l-medium {
  font-family: 'Montserrat Medium';
  font-size: var(--l-font-size);
  line-height: var(--l-line-height);
}

.text-l-regular {
  font-family: 'Montserrat Regular';
  font-size: var(--l-font-size);
  line-height: var(--l-line-height);
}

/* 
  Medium
*/
.text-m-bold {
  font-family: 'Montserrat Bold';
  font-size: var(--m-font-size);
  line-height: var(--m-line-height);
}

.text-m-semibold {
  font-family: 'Montserrat Semibold';
  font-size: var(--m-font-size);
  line-height: var(--m-line-height);
}

.text-m-medium {
  font-family: 'Montserrat Medium';
  font-size: var(--m-font-size);
  line-height: var(--m-line-height);
}

.text-m-regular {
  font-family: 'Montserrat Regular';
  font-size: var(--m-font-size);
  line-height: var(--m-line-height);
}

/* 
  Regular
*/
.text-r-bold {
  font-family: 'Montserrat Bold';
  font-size: var(--r-font-size);
  line-height: var(--r-line-height);
}

.text-r-semibold {
  font-family: 'Montserrat Semibold';
  font-size: var(--r-font-size);
  line-height: var(--r-line-height);
}

.text-r-medium {
  font-family: 'Montserrat Medium';
  font-size: var(--r-font-size);
  line-height: var(--r-line-height);
}

.text-r-regular {
  font-family: 'Montserrat Regular';
  font-size: var(--r-font-size);
  line-height: var(--r-line-height);
}
