---
import { Icon } from '~/ui/components';
import { Image } from 'astro:assets';
import HeroImg from '../assets/hero.jpg';
---

<section class="bg-[#BB8056]/[.12]">
  <div class="relative max-w-wrapper h-[50svh] md:h-[75svh] max-h-[768px]">
    <Image
      loading="eager"
      quality="mid"
      format="webp"
      src={HeroImg}
      fetchpriority="high"
      widths={[900, 1800]}
      sizes="100vw"
      alt=""
      class="absolute top-0 left-0 w-full h-full object-cover"
    />
    <div class="absolute top-0 left-0 w-full h-full bg-[#BB8056]/[.12]"></div>
    <div class="relative w-full h-full px-4 flex">
      <Icon className="m-auto w-1/2 min-w-[256px] max-w-[400px] text-white" icon="logoText" />
    </div>
  </div>
</section>
