<section class="p-4 md:p-10 bg-gray-50">
  <p class="font-sansation font-light text-gray-900 text-xl md:text-2xl lg:text-3xl !leading-loose text-center">
    Naša misija je izrada vrhunskih drvenih konstrukcija - od pergola do kućica na stablu, ostvarujemo snove
  </p>
</section>
