---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<section class="p-4 md:p-10 bg-white">
  <p class="font-sansation font-light text-gray-900 text-xl md:text-2xl lg:text-3xl !leading-loose text-center">
    {text}
  </p>
</section>
