---
interface Props {
  text: string;
  as?: string;
}

const { text, as = 'p' } = Astro.props;
const Element = as;
---

<section class="p-4 md:p-10">
  <Element class="max-w-wrapper font-sansation font-light text-gray-900 text-xl md:text-2xl !leading-loose text-center">
    {text}
  </Element>
</section>
