---
import Layout from '~/shared/Layout.astro';
import Hero from './Hero.astro';
import Contact from './Contact.astro';
---

<Layout title="Tvornica Drvenih Konstrukcija">
  <main>
    <Hero />
    <Contact />
  </main>
</Layout>
