---
import Layout from '../../layouts/Layout.astro';
import Hero from './Hero.astro';
import Contact from './Contact.astro';
---

<Layout title="TDK">
  <main>
    <Hero />
    <Contact />
  </main>
</Layout>

<style>
  main {
    position: relative;
  }
</style>
