---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Contact from '../components/Contact.astro';
import '../styles/reset.css';
import '../styles/global.css';
import '../styles/text.css';
---

<Layout title="TDK">
  <main>
    <Hero />
    <Contact />
  </main>
</Layout>

<style>
  main {
    position: relative;
  }
</style>
