---
import ProductCard from './ProductCard.astro';
import GazeeboSectionImg from '../../assets/gazeebo-section.jpeg';
import TreehouseSectionImg from '../../assets/treehouse-section.jpg';
import { MissionStatement } from '~/shared/components';
import { Button, Icon } from '~/ui/components';
---

<section id="products">
  <ProductCard
    imgSrc={GazeeboSectionImg}
    imgAlt="Fotografija prostrane nadstrešnice uz more na sunčani dan"
    title="Nadstrešnice, pergole i sjenice"
    description="Od jednostavnih oslonjenih nadstrešnica za terasu i pergola za vrt do raskošnih samostojećih drvenih sjenica sa krovom na jednu, dvije ili više voda"
  >
    <Button as="a" href="/drvena-nadstresnica-pergola-izrada-po-mjeri" text="Saznajte više" slot="action-button">
      <Icon icon="arrowRight" slot="iconRight" />
    </Button>
  </ProductCard>
  <div class="bg-[#F2F2F2]">
    <MissionStatement
      text="Inovativnim rješenjima i posvećenošću detaljima stvaramo dodatnu vrijednost vašem prostoru"
    />
  </div>
  <ProductCard
    imgSrc={TreehouseSectionImg}
    imgAlt="Fotografija muškarca koji sjedi na ogradi kućice na stablu, usred šume, i gleda u nebo"
    title="Kućice na stablu"
    description={`Za male i velike ljubitelje avantura. 
      Popnite se u svijet mašte jedinstvenim kućicama na stablu, idealnim mjestom za igru i odmor. 
      Svaka kućica pažljivo je prilagođena vašim željama i specifičnostima stabala i okruženja, 
      osiguravajući pritom sigurnost te nezaboravno iskustvo boravka u prirodi
      `}
    isReverse
  >
    <Button as="a" href="#contact" text="Kontaktirajte nas" slot="action-button" />
  </ProductCard>
  <div class="bg-[#F2F2F2]">
    <MissionStatement
      text="Individualnim pristupom vodimo vas kroz čitavi proces, od ideje, izmjere i savjetovanja do dizajna i finalne izvedbe"
    />
  </div>
</section>
