<section class="p-4 md:p-10 bg-[#1E2827]">
  <p class="w-fit m-auto font-sansation font-light text-lg md:text-xl lg:text-2xl text-center text-gray-50">
    Pri izradi koristimo samo najkvalitetnije materijale i provjerene tehnike
  </p>
</section>
