<section class="p-4 md:p-10 bg-[#F2F2F2]">
  <p class="w-fit m-auto font-sansation font-light text-xl md:text-2xl text-center text-gray-900">
    Pri izradi koristimo samo najkvalitetnije materijale i provjerene tehnike
  </p>
</section>
