---
import Layout from '~/shared/Layout';
import { ContactSection, MissionStatement } from '~/shared/components';
import { CoverSection, Gallery, Hero, MaterialSection } from './components';
---

<Layout
  title="Izrada-pergola-nadstrešnica-sjenica"
  description="Izrađujemo visokokvalitetne drvene pergole, nadstrešnice, sjenice te kućice na drvetu i kućice za djecu. Individualnim pristupom vodimo Vas kroz čitavi proces, od ideje, izmjere i savjetovanja do dizajna te finalne izvedbe. Djelujemo na području cijele Hrvatske i šire."
>
  <Hero />
  <MissionStatement
    text="Visokokvalitetni materijali, suvremena pokrovna rješenja i promišljeni dizajn za dugotrajnost i sklad koji traju generacijama"
  />
  <MaterialSection />
  <MissionStatement text="Uživajte u ugodnim trenucima na otvorenome zaštićeni od svih vremenskih neprilika" />
  <CoverSection />
  <div class="bg-[#F2F2F2]">
    <MissionStatement
      text="Uljepšajte svoj vrt ili terasu prirodnom toplinom i jedinstvenim šarmom sa drvenim konstrukcijama"
    />
  </div>
  <Gallery />
  <ContactSection />
</Layout>
