---
import { Image } from 'astro:assets';
import { Icon } from '~/ui/components';

const imageImports = import.meta.glob<{ default: ImageMetadata }>(
  '/src/modules/GazeboProductPage/assets/gallery/*.jpg',
);
const images = Object.values(imageImports).map((i) => i());
---

<style>
  .embla__nav {
    position: absolute;
    bottom: 16px;
    border: 1px solid black;
    border-radius: 100%;
    padding: 8px;
    background-color: theme(colors.gray.200);
    cursor: pointer;
    transition: background-color 200ms;
  }
  .embla__nav:disabled {
    background-color: theme(colors.gray.400);
    cursor: not-allowed;
  }
</style>

<section class="py-6 md:py-10 lg:py-12">
  <div class="max-w-wrapper">
    <div class="flex flex-col gap-4 lg:gap-8">
      <h2 class="font-sansation font-light text-2xl lg:text-3xl text-gray-900 text-center">Galerija</h2>
      <div class="h-[300px] md:h-[400px] lg:h-[600px]">
        <div class="embla relative h-full">
          <div class="embla__viewport h-full overflow-x-hidden px-4 md:px-10">
            <div class="embla__container h-full flex gap-3 lg:gap-6">
              {
                images.map((image) => (
                  <Image
                    src={image}
                    widths={[1000, 1600]}
                    sizes={'(min-width: 1800px) 1000w, 100vw'}
                    class="embla__slide h-full object-cover active:cursor-grabbing cursor-grab"
                    alt="Fotografija nadstrešnice"
                    quality="mid"
                    loading="lazy"
                  />
                ))
              }
            </div>
          </div>
          <button disabled class="embla__nav embla__prev left-8 md:left-20">
            <Icon icon="arrowRight" className="w-6 h-6 rotate-180" />
          </button>
          <button class="embla__nav embla__next right-8 md:right-20">
            <Icon icon="arrowRight" className="w-6 h-6" />
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import EmblaCarousel, { type EmblaOptionsType } from 'embla-carousel';

  const rootNode = document.querySelector('.embla') as HTMLElement;
  const viewportNode = rootNode.querySelector('.embla__viewport') as HTMLElement;

  const prevButtonNode = rootNode.querySelector('.embla__prev') as HTMLButtonElement;
  const nextButtonNode = rootNode.querySelector('.embla__next') as HTMLButtonElement;

  const options: EmblaOptionsType = { loop: false };
  const embla = EmblaCarousel(viewportNode, options);
  embla.on('select', (embla) => {
    if (embla.canScrollPrev()) {
      prevButtonNode.disabled = false;
    } else {
      prevButtonNode.disabled = true;
    }

    if (embla.canScrollNext()) {
      nextButtonNode.disabled = false;
    } else {
      nextButtonNode.disabled = true;
    }
  });

  prevButtonNode.addEventListener('click', () => embla.scrollPrev(), false);
  nextButtonNode.addEventListener('click', () => embla.scrollNext(), false);
</script>
