---
import logo from "../images/logo.jpeg";
---

<header>
  <img src={logo} alt="" height="100%" />
  <div class="contact">
    <a href="mailto:tvornicadrvenihkonstrukcija@gmail.com">tvornicadrvenihkonstrukcija@gmail.com</a>
    <a href="tel:+385959236708">+38595 9236708</a>
  </div>
</header>

<style>
  header {
    height: 18vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: white;
  }
  .contact a {
    align-self: flex-end;
    color: white;
    line-height: 2;
  }
</style>
