<div class="hero">
  <div>
    <h1>Tvornica Drvenih Konstrukcija</h1>
    <p>Ova web stranica je u izradi 🛠️</p>
  </div>
</div>
<div class="overlay"></div>

<style>
  main {
    position: relative;
  }
  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
  }
  .hero {
    height: 82vh;
    background-image: url(public/hero2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
  }
  .hero div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  h1 {
    color: white;
    font-size: 5rem;
    line-height: 1.5;
  }
  p {
    color: white;
    font-size: 2rem;
  }
</style>
