---
import LinkItem from './LinkItem.astro';
---

<div class="px-20 pt-10 pb-20 flex flex-col gap-8 items-center bg-gray-50">
  <h2 class="font-sansation font-light text-4xl text-gray-900">Kontaktiraj me</h2>
  <div class="w-[768px] flex gap-8 justify-between">
    <LinkItem icon="send" href="tvornicadrvenihkonstrukcija@gmail.com" hrefType="mail" />
    <LinkItem icon="telephone" href="+385 95 9236 708" hrefType="tel" />
  </div>
</div>
