---
import { Icon } from '~/ui/components';
import { Image } from 'astro:assets';
import HeroImg from '~/ui/assets/images/hero.webp';
---

<div class="relative h-[768px]">
  <Image src={HeroImg} alt={''} class="absolute top-0 left-0 w-full h-full object-cover" />
  <div class="absolute top-0 left-0 w-full h-full bg-[#9A8ECB]/[.18]"></div>
  <div class="relative w-full h-full px-4 flex">
    <Icon className="m-auto w-[30rem] text-white" icon="logoText" />
  </div>
</div>
