---
import { Icon } from '~/ui/components';
import NavigationItem from './NavigationItem.astro';
import { isDev, localOrigin, productionOrigin } from '~/utils/env';

const origin = isDev ? localOrigin : productionOrigin;

const isHomePage = Astro.url.pathname === '/';
const homeBasePath = isHomePage ? '' : `${origin}/`;
---

<header>
  <nav class="p-4 py-2 md:py-4 lg:px-6">
    <div class="max-w-wrapper flex justify-between items-center bg-white font-sansation">
      <a
        class="flex gap-4 items-center"
        href={isHomePage ? '#' : homeBasePath}
        aria-label="Tvornica Drvenih Konstrukcija"
      >
        <Icon icon="logo" className="w-8 text-[#107862]" />
        <h1 class="hidden md:block font-normal text-lg uppercase text-gray-700">Tvornica Drvenih Konstrukcija</h1>
      </a>
      <ul class="flex gap-8 list-none font-light text-lg">
        <NavigationItem href={`${homeBasePath}#products`}>Proizvodi</NavigationItem>
        <NavigationItem href={`#contact`}>Kontakt</NavigationItem>
      </ul>
    </div>
  </nav>
</header>

<script>
  document.querySelectorAll('a[href="#contact"]').forEach((e) =>
    e.addEventListener('click', (e) => {
      e.preventDefault();
      document.querySelector('#contact')?.scrollIntoView({ behavior: 'smooth' });
    }),
  );

  const isHomePage = window.location.pathname === '/';
  if (isHomePage) {
    document.querySelector('a[href="#products"]')?.addEventListener('click', (e) => {
      e.preventDefault();
      document.querySelector('#products')?.scrollIntoView({ behavior: 'smooth' });
    });
  }
</script>
