---
import SectionHeader from './SectionHeader.astro';
import ProductCards from './ProductCards';
import NoCoverImg from '~/ui/assets/images/cover/no-cover.jpeg';
import StaticShadowCoverImg from '~/ui/assets/images/cover/shadow-static.jpg';
import DynamicShadowCoverImg from '~/ui/assets/images/cover/shadow-dynamic.jpg';
import PolycarbStraightImg from '~/ui/assets/images/cover/polycarb-straight.jpg';
import TinPanelImg from '~/ui/assets/images/cover/tin-panel.jpg';
import ThermalPanelImg from '~/ui/assets/images/cover/thermal-panel.jpg';
import TileImg from '~/ui/assets/images/cover/tile.jpg';
---

<div class="py-8 px-16 flex flex-col gap-8 bg-[#E4E1D9]">
  <SectionHeader icon="cover" text="Pokrov" />
  <ProductCards
    client:load
    summary={{ text: 'This is a short summary about cover', color: 'bg-[#107862]' }}
    items={[
      {
        title: 'Bez pokrova',
        text: ['idealno za biljke penjačice.'],
        image: { meta: NoCoverImg, alt: 'Nadstrešnica bez pokrova' },
        containerHeight: 'h-[548px]',
      },
      {
        title: 'Zasjena',
        text: ['fiksna ili pomična zasjena izrađena od akrilne tkanine namjenjene vanjskim uvjetima.'],
        image: { meta: StaticShadowCoverImg, alt: 'Nadstrešnica sa statičnom zasjenom' },
        containerHeight: 'h-[548px]',
      },
      {
        title: 'Polikarbonatne ploče',
        text: ['fiksna ili pomična zasjena izrađena od akrilne tkanine namjenjene vanjskim uvjetima.'],
        image: { meta: PolycarbStraightImg, alt: 'Nadstrešnica sa ravnim polikarbonatnim pločama' },
        containerHeight: 'h-[655px]',
      },
      {
        title: 'Limene ploče',
        text: [
          'trapezne limene ploče, bez ili sa sekundarnim krovom - daske ili brodski pod sa paropropusnom folijom.',
        ],
        image: { meta: TinPanelImg, alt: 'Nadstrešnica sa limenim pločama' },
        containerHeight: 'h-[640px]',
      },
      {
        title: 'Termoizolacijske ploče',
        text: ['ističu se visokom toplinskom i zvučnom izolacijom.'],
        image: { meta: ThermalPanelImg, alt: 'Nadstrešnica sa termoizolacijskim pločama' },
        containerHeight: 'h-[640px]',
      },
      {
        title: 'Crijep',
        text: [
          'glineni crijep po izboru, bez ili sa sekundarnim krovom - daske ili brodski pod sa paropropusnom folijom.',
        ],
        image: { meta: TileImg, alt: 'Nadstrešnica sa crijepom' },
        containerHeight: 'h-[640px]',
      },
    ]}
  />
</div>
