---
import { Icon } from '~/ui/components';
import type { IconType } from '~/ui/assets/icons';

interface Props {
  text: string;
  icon: IconType;
}

const { text, icon } = Astro.props;
---

<div class="mx-auto flex flex-col items-center gap-2">
  <Icon icon={icon} className="w-[54px] h-[54px] text-white" />
  <h2 class="font-sansation font-light text-3xl text-gray-900">{text}</h2>
</div>
